li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemImg {
  width: 15%;
  border-radius: 10%;
}

.desc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.desc p {
  margin: 0;
  font-size: 0.8em;
}

.desc p span {
  color: var(--VeryDarkBlue);
  font-weight: 700;
}

.deleteButton {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
