.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 25%;
}

.fullImg {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.thumbWrapper {
  width: 20%;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.thumbnails img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.4s;
  object-fit: cover;
  display: block;
}

.thumbnails img:hover {
  opacity: 0.6;
}

.activeThumb {
  border: 3px solid var(--primary);
}

.activeThumb img {
  opacity: 0.6;
}
