.cartBtn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.badge {
  position: absolute;
  top: -7px;
  right: -10px;
  background: var(--primary);
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 2px 2px;
  border-radius: 50%;
  min-width: 18px;
  text-align: center;
}

.wrapper {
  position: relative;
}
