.cartBtn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.badge {
  position: absolute;
  top: -5px; /* adjust */
  right: -7px; /* adjust */
  background: var(--primary);
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 1px 1px;
  border-radius: 999px; /* makes full circle/pill */
  line-height: 1;
  min-width: 18px;
  text-align: center;
}

.wrapper {
  position: relative;
}
