.counterMain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--LightGrayishBlue);
  width: 40%;
  border-radius: 5px;
  padding: 0;
  height: 55px;
}

.counterMain button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
  height: 100%;
}

.counterMain button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.counterMain p {
  flex: 2;
  margin: 0;
  text-align: center;
  font-weight: 700;
  color: var(--Black);
}
