.pButton {
  padding: 15px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  color: var(--Black);
  background-color: var(--primary);
  border: 0px solid transparent;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
  color: var(--Black);
}

.pButton:hover {
  background-color: var(--primary-hover);
}

.pButton img {
  width: 7%;
  color: var(--Black);
}
