.company {
  color: var(--DarkGrayishBlue);
  text-transform: uppercase;
  font-size: 0.6em;
  margin-bottom: 1em;
  letter-spacing: 1px;
  font-weight: 700;
}

.title {
  font-size: 2.2em;
  width: 100%;
}

.description {
  color: var(--DarkGrayishBlue);
  margin: 2em 0 1em 0;
  width: 100%;
}

.discount {
  color: var(--VeryDarkBlue);
  font-size: 1.2em;
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 10px;
  margin-bottom: 0.6em;
}

.discountBox {
  color: var(--White);
  background-color: var(--VeryDarkBlue);
  padding: 0.2em 0.5em;
  border-radius: 5px;
  font-size: 0.6em;
  font-weight: 700;
}

.price {
  color: var(--DarkGrayishBlue);
  text-decoration: line-through;
  margin: 0;
}
