header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  border-bottom: 2px solid var(--LightGrayishBlue);
  height: fit-content;
  height: 15vh;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

header nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.2rem;
  color: var(--DarkGrayishBlue);
  border-bottom: 3px solid transparent; /* invisible by default */
}

nav a:hover {
  color: var(--VeryDarkBlue);
  border-bottom: 3px solid var(--primary);
}

.subCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
}

.avatar {
  width: 25%;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.avatar:hover {
  border: 3px solid var(--primary);
}
