@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

:root {
  --primary: hsl(26, 100%, 55%);
  --primary-light: hsl(25, 100%, 94%);
  --primary-hover: hsl(26, 100%, 67%);

  /* neutrals */
  --VeryDarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background)
} */
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}
